version: '3.3'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: q
      POSTGRES_PASSWORD: q
      POSTGRES_DB: crm

  front:
    image: front
    build:
      context: ./front
      dockerfile: ./Dockerfile

  backend:
    image: backend
    build:
      context: ./server
    depends_on:
      - db
    restart: always
    environment:
      NODE_CONFIG: '{"connectionString":"postgres://q:q@db/crm"}'

  nginx:
    depends_on:
      - front
      - backend
    build:
      context: ./nginx
    restart: always
    ports:
      - 3080:80
    volumes:
    - ./nginx/logs:/var/log/nginx
    - ./nginx/conf:/etc/nginx/conf.d/