.auth-card-container {
  display: flex;

  align-content: center;
  justify-content: center;
  flex-direction: column;

  .auth-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    padding: 10px;

    > * {
      padding: 3px;
      margin: auto;
    }

    .switch-form-link {
      margin-bottom: 4px;
    }

  }
}